// Editable Sentence Styles
.inputWrapper {
  input {
    color: var(--inviqa-brand-neutral);
    font-weight: 800;
    text-align: center;
    background: transparent;
    border: none;
    border-bottom: 4px solid #000;
  }
}

.editedText {
  border-bottom: 4px solid #000;
}
